<section>
  <div class="container">
    <h2 class="d-flex justify-content-center mb-3">Add Products</h2>
    <form class="row g-3" action="/admin/add-products" method="post" enctype="multipart/form-data">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Product Title</label>
        <input type="text" name="productTitle" class="form-control" id="inputEmail4" required>
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Price</label>
        <input type="number" name="productPrice" class="form-control" id="inputPassword4" required>
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Star</label>
        <input type="text" name="productStar" value="0" class="form-control" id="inputEmail4" required>
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Star Counts</label>
        <input type="text" name="productStarCount" value="0" class="form-control" id="inputPassword4" required>
      </div>
      <div class="col-md-6">
        <label for="inputGroupSelect01" class="form-label">Keywords</label>
          <textarea style="max-height: 100px;" maxlength="50" name="keywords" class="form-control border border-black" required></textarea>
      </div>
        <div class="col-md-6">
        <label for="inputGroupSelect01" class="form-label">Product Image</label>
        <input class="form-control" type="file" id="formFile" name="productImage" onchange="viewImg(event)" accept="image/*">
      </div>
      <div style="display: none;" class="col-md-3" id="product-image-container">
        <label for="" class="col-md-12 mb-3">Image Preview</label>
        <img style="max-width: 100%; max-height: 100%; width: 150px;" class="col-md-12" id="product-image">
      </div>
      <div class="col-md-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck" required>
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
        <button type="submit" class="btn btn-outline-dark mt-3 float-start">Conform</button>
      </div>
      </div>
      </div>
    </form>
  </div>
</section>

<script>
  function viewImg(event) {
    document.getElementById('product-image').setAttribute('src', URL.createObjectURL(event.target.files[0]));
    const newProductImageContainer = document.getElementById('product-image-container');
    newProductImageContainer.style.display = 'block';
  }
</script>