.cart-item {
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
  justify-content: space-between;
  border: 2px solid #ccc;
  border-radius: 15px;
  margin-bottom: 1rem;
  background-color: ghostwhite;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product {
  display: flex;
  flex: 1;
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  max-width: 200px;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 1rem;
  mix-blend-mode: multiply;
}

.product-details-container{
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 300px;
  font-size: large;
  font-weight: bold;
}

.product-price-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 auto;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.arrow {
  cursor: pointer;
}

#total-count {
  font-weight: bold;
  font-size: 16px;
  margin: 0 10px;
}

.action-button button {
  width: 100%; /* Make action buttons fill the available width */
}
